
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   height:100vh;
   font-family:"Roboto",sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
} 

.visiting_card{
    margin-top:15px ;
}
.visiting_card_content{
  position: relative;
  height: 300px;
  width: 500px;
  border: 1px solid skyblue;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 60px;
  padding-bottom: 20px;

}
.button{

    margin-top: 20px;
    padding: 15px 20px;
    background-color: tomato;
}
.logo{
    width: 100px;
}
.rotate_text{

   position: absolute;
   transform:rotate(-90deg) ;
   left: 50px;
   letter-spacing: 1.2rem;
   top: 0;
   bottom: 0;
   color: red;
   font-size: 28px;
  
   z-index: -1;

}
.inputdec{
    height: 60px;
    width: 100px;
}
.eng{
    color: red;  
}